<a href="<%= user_path user %>" class="item">
    <%= image_tag(user.image_path.url(:thumb)) %>
    <div class="name"><%= user.first_name %> <%= user.last_name %></div>
    <div class="title">title</div>
    <div class="location"><%= user.location.state %>
        <span class="icon icon-location"></span>
    </div>
</a>