<h1><%= @user.full_name %></h1>

<% if(@user.followed_users.count) %>
	<h3>Following</h3>
	<% @user.followed_users.each do |f| %>
		<div><%= f.full_name %> <%= link_to "Unfollow", unfollow_user_path(f) %></div>
	<% end %>
<% end %>

<%= image_tag @user.image_path.url(:profile) %>
<div id="map3d" style="height:400px; width=600px;"></div>
<%= form_for @user, :html => {:autocomplete => "off"} do |f| %>
    <div class="user-form">
        <%= f.fields_for :location do |l| %>
            <div class="input"><%= l.text_field :city, :placeholder => 'City' %></div>
            <div class="input"><%= l.text_field :state, :placeholder => 'State' %></div>
        <% end %>
        <div class="input"><%= f.text_field :first_name, :placeholder => "First Name", :autocomplete => "off" %></div>
        <div class="input"><%= f.text_field :last_name, :placeholder => "Last Name", :autocomplete => "off" %></div>
        <div><%= f.text_area :about, :placeholder => "About Me" %></div>
        <div><%= f.label :image_path, 'Update Profile Image'%></div>
        <div><%= f.file_field :image_path %></div>
    </div>
    <%= f.submit "Update profile" %>
<% end %>
<hr />
<h3>New Post</h3>
<%= form_for Post.new do |p| %>
	<div><%= p.text_area :content, :placeholder => 'Say Something...' %></div>
	<%= p.submit "Post" %>
<% end %>
<hr />
<h3>Posts</h3>
<% @user.posts.recent().each do |p| %>
	<div><%= p.content %></div>
<% end %>
