<div class="profile">
    
     <div class="profile-header">
        
        <%= image_tag @user.image_path.url(:profile) %>
        <h1><%= @user.full_name %></h1>
        <div class="title">Title</div>
        
    </div>
    
    <div class="user-info">
            
        <a class="pill following">
            <span><%= @user.followed_count %></span> following
        </a>
        
        <a class="pill followers">
            <span><%= @user.followers_count %></span> followers
        </a>
        
        <a class="pill location">
            <span class="icon icon-location"></span> <%= @user.location.city %>, <%= @user.location.state %>
        </a>

        <% if !current_user.following?(@user) %>
            <a href="<%= follow_user_path(@user) %>" class="pill follow-status">
                <span class="icon icon-checkmark"></span> Follow
            </a>
        <% else %>   
            <a href="<%= unfollow_user_path(@user) %>" class="pill follow-status active">
                <span class="icon icon-checkmark"></span> Following
            </a>
        <% end %>   
        <div class="clb"></div>
        
    </div>
    
    <div class="profile-sub-nav">
        <ul>
            <li data-show="profile-user-bio" class="icon-info active"> About</li>
            <li data-show="profile-user-posts" class="icon-list"> Posts</li>
            <li data-show="profile-user-portfolio" class="icon-book"> Portfolio</li>
            <li data-show="profile-user-contact" class="icon-mail"> Contact</li>
            <li data-show="profile-user-following" class="icon-chat"> Following</li>
        </ul>    
    </div> 
    
 
    <div class="profile-info-item profile-user-bio active">
        <%= @user.about; %>
    </div>
    
    <div class="profile-info-item profile-user-posts">
    
        <%= render :partial => 'posts/form' %>
    
        <%= render :partial => 'posts/post', :collection => @user.posts %>
    
    </div>
    
    <div class="profile-info-item profile-user-portfolio">
        portfolio
    </div>
    
    <div class="profile-info-item profile-user-contact">
        contact info
    </div>
    
    <div class="profile-info-item profile-user-following">
        following
    </div>
        
    
</div>
