<div class="post">

    <div class="content">
    	<a href="<%= user_path(post.user) %>">
        	<%= image_tag post.user.image_path.url(:thumb) %>
		</a>
        <div class="header">
        	<a href="<%= user_path(post.user) %>">
            	<div class="name"><%= post.user.full_name %></div>
            </a>
            <div class="title"><%= post.user.subtitle %></div>
        </div>
        
        <p><%= post.content %></p>
        
    </div>
    
    <div class="comments" data-post="<%= post.id %>">
        
        <%= render :partial => 'comments/comment', :collection => post.comments %>

    </div>
    
    <%= render :partial => 'comments/form', :locals => {:post => post} %>

</div>

