<div class="post">

    <div class="content">
        <%= image_tag post.user.image_path.url(:thumb) %> 
        <div class="header">
            <div class="name"><%= post.user.full_name %></div>
            <div class="title"><%= post.user.title %></div>
        </div>
        
        <p><%= post.content %></p>
        
    </div>
    
    <div class="comments" data-post="<%= post.id %>">
        
        <%= render :partial => 'comments/comment', :collection => post.comments %>

    </div>
    
</div>

<div class="comment-form">
    <%= link_to "Add Comment", new_post_comment_path(post), :remote => true %>
</div>