<div class="fixed-hd">
    
    <div class="top-nav">
        <ul>
            <li><a class="icon icon-house"></a></li>
            <li class="active"><a>Community</a></li>
            <li><a>Blog</a></li>
        </ul>
    </div>
    
    <div class="bottom-nav">
        <div class="logo">The<b>Biz</b></div>
        <span class="icon icon-search"></span>
        <input placeholder="Find..." type="text" />
        
        <div class="right-buttons">

            <div class="user-info">
            
                <a href="<%= profile_path %>"><%= image_tag current_user.image_path.url(:thumb) %></a>

                <b><a href="<%= profile_path %>"><%= current_user.first_name %> <%= current_user.last_name %></a></b>
                <a class="logout" data-method="delete" href="<%= destroy_user_session_path %>"><span class="icon icon-close"></span> Log Out</a>
            </div>
            
            <a class="messages" href="">
                <span class="count"><%= current_user.messages.unread.count %></span>
                <span class="icon icon-comment"></span>
            </a>
        </div>
        
    </div>
    
</div>

<div class="left-nav">
    
    <ul class="nav">
        <li class="active"><a href="<%= posts_path %>"><span class="icon icon-list"></span> News</a></li>
        <li><a href="<%= users_path %>"><span class="icon icon-users"></span> Users</a></li>
    </ul>
    
</div>