<div class="left-controls">
    
    <a href="<%= profile_path %>" class="user-info">
        <%= image_tag current_user.image_path.url(:profile) %> 
        <b><%= current_user.first_name %> <%= current_user.last_name %></b>
    </a>
    
    <ul class="nav">
        <li class="active"><a href=""><span class="icon icon-file"></span> Feed Me</a></li>
        <li><a href=""><span class="icon icon-search"></span> Find</a></li>
        <li><a href="<%= users_path %>"><span class="icon icon-users"></span> Users</a></li>
    </ul>
    
    <a class="logout" data-method="delete" href="<%= destroy_user_session_path %>"><span class="icon icon-close"></span> Log Out</a>

</div>